In [14]:
import pandas as pd
import numpy as np 
import sklearn 
import pickle 
import os

import sys

sys.path.append('../../src/features')

import build_features

import warnings 
warnings.filterwarnings('ignore')



matches = pd.read_csv('../../data/raw/matches.csv')
matches.head()

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
2,3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
3,4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
4,6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

## EDA - Insights & Actionables

In [15]:

DataCleaner = build_features.CleanDataset(matches)
cleaned_data = DataCleaner.main()
DataTransformer = build_features.FeatureAddition(cleaned_data)
processed_data = DataTransformer.main()
processed_data.head()

,date,time,day,venue,result,opponent,poss,formation,season,team,...,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,xg_rolling,xga_rolling,pkr,skr,target
0,2020-10-04,14:00:00,3,1,2,Sheffield Utd,63.0,10,2021,Arsenal,...,3.666667,14.733333,0.666667,0.000000,0.000000,1.466667,1.766667,NaN,0.478261,1
1,2020-10-17,17:30:00,2,0,1,Manchester City,41.0,1,2021,Arsenal,...,3.666667,15.766667,0.000000,0.000000,0.000000,1.000000,1.766667,NaN,0.687500,0
2,2020-10-25,19:15:00,3,1,1,Leicester City,57.0,1,2021,Arsenal,...,3.666667,16.733333,0.666667,0.000000,0.000000,0.833333,1.633333,NaN,0.523810,0
3,2020-11-01,16:30:00,3,0,2,Manchester Utd,47.0,1,2021,Arsenal,...,4.000000,16.033333,1.000000,0.000000,0.000000,0.733333,0.966667,NaN,0.413793,1
4,2020-11-08,19:15:00,3,1,1,Aston Villa,58.0,1,2021,Arsenal,...,2.666667,18.033333,1.000000,0.333333,0.333333,0.966667,1.000000,1.0,0.275862,0

## Model Building